# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Node / build
node_modules/
*.log
npm-debug.log*

# PHP
vendor/
composer.lock

# WordPress
*.zip
wp-content/

# Local dev
.env
.env.local
*.local

# Lint outputs
.phpunit.result.cache
.phpcs-cache
